
<app-dashboard></app-dashboard>

<div class="row align-justify">
        <div class="offset-md-4 col-md-4">
         
          <h1 class="center-align" >Please register for game</h1><hr>

          <form method="POST" autocomplete="off">
            <fieldset class="form-group filed-space">
              <input
                type="text"
                class="form-control"
                name="firstname"
                placeholder="Enter First Name"
                required
                autofocus
              />
            </fieldset>
            <fieldset class="form-group filed-space">
              <input
                type="text"
                class="form-control"
                name="lastname"
                placeholder="Enter Last Name "
                required
                autofocus
              />
            </fieldset>
            <fieldset class="form-group filed-space">
              <input
                type="email"
                class="form-control"
                name="email"
                placeholder="Enter Email"
                required
                autofocus
              />
            </fieldset>

            <fieldset class="form-group filed-space">
              <input
                type="text"
                class="form-control"
                name="phonenumber"
                placeholder="Enter phone Number"
                required
                autofocus
              />
            </fieldset>

            

            <fieldset class="form-group text-center form-register">
              <input type="submit" class="btn btn-success filed-space" value="register" />

              <a href="/">
                <input type="button" class="btn btn-warning filed-space" value="Cancel" />
              </a>
            </fieldset>
          </form>
        </div>
      </div>
      