.fit {
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}
#signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 80vh;
  background: rgb(237, 250, 165);
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Open Sans", sans-serif;
  background-image: url(../../../assets/img/aboutperfectasblugr.JPG);
  font-size: 100%;
  width: 100%;
}
