@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 80vh;
  background: #222;
  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Open Sans", sans-serif;
  background-image: url("../../assets/img/aboutperfectasblugr.JPG");
  font-size: 100%;
  width: 100%;
}

.card {
  background: wheat;
  float: center;
  color: white;
  padding: 1em;
  border-radius: 100px;
  width: 100%;
  max-width: 100%;
  margin: 43.5em;
  margin-right: 700px;
}
