<app-dashboard></app-dashboard>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width-device-width, initial-scale-1.0" />
  <title>Tournament App</title>

  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
    rel="stylesheet"
  />
</head>

<body>
  <img src="{{ imageSrc }}" style="width: 300px" />
  <div class="card" style="width: 100%">
    <p style="float: right; width: 1100px; font-weight: bold">
      The Perfectas is a competition management technology platform that helps
      organizers streamline registration, progression and record keeping of
      tournaments. Founded in 2021, The Perfectas offers multiple competition
      types as both a web-based software as-a-service (SaaS) platform and as an
      API that can be integrated into websites, games, bots and other software
      applications. No matter how little or big your event is, we STAY READY!
    </p>
  </div>
</body>

<footer style="height: 27px">
  <p>
    &nbsp;&nbsp;&nbsp;&copy;&nbsp;Copyright &nbsp;&nbsp;&nbsp;Team project -
    COMP 229 - Fall 2021
  </p>
  <br />
</footer>
