td {
  text-align: left;
}

th {
  text-align: left;
}
#signup {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  height: 80vh;

  background-repeat: no-repeat;
  background-size: 100%;
  font-family: "Open Sans", sans-serif;

  font-size: 100%;
  width: 100%;
}
