<app-dashboard></app-dashboard>

<div class="container-fluid">
  <h1 style="text-align: center">Tournaments List</h1>
  <ng-template [ngIf]="c"><button>Add Tournament</button></ng-template>

  <div *ngFor="let e of li">
    <div class="card center-align filed-space">
      <div class="card-header">{{ e.name }} Tournament</div>
      <div class="card-body">
        <h5 class="card-title">
          {{ e.name }} tournament conducting by {{ e.hostName }}
        </h5>
        <p class="card-text">
          tournament is will be conducted in {{ e.place }} on
          {{ e.tdate }}.Please register before {{ e.rldate }}.
        </p>
        <a href="/tournaments/{{ e._id }}" class="btn btn-primary filed-space"
          >Detailed Info</a
        >
        <!-- <a
          [ngIf]="c"
          href="/tournaments/{{ e._id }}"
          class="btn btn-danger filed-space"
          >Delete</a>
        >-->
      </div>
    </div>
  </div>
</div>
