<app-dashboard></app-dashboard>

<div id="signup" class="row align-justify">
  <div class="offset-md-4 col-md-4">
    <h2 class="center-align" style="color: white">Please register for game</h2>
    <hr />

    <form
      #signupForm="ngForm"
      (ngSubmit)="onSubmit(signupForm)"
      autocomplete="off"
    >
      <fieldset class="form-group filed-space">
        <input
          type="text"
          class="form-control"
          name="firstName"
          placeholder="Enter First Name"
          required
          autofocus
          ngModel
        />
      </fieldset>
      <fieldset class="form-group filed-space">
        <input
          type="text"
          class="form-control"
          name="lastName"
          placeholder="Enter Last Name "
          required
          autofocus
          ngModel
        />
      </fieldset>
      <fieldset class="form-group filed-space">
        <input
          type="email"
          class="form-control"
          name="email"
          placeholder="Enter Email"
          required
          autofocus
          ngModel
        />
      </fieldset>

      <fieldset class="form-group filed-space">
        <input
          type="text"
          class="form-control"
          name="phoneNumber"
          placeholder="Enter phone Number"
          required
          autofocus
          ngModel
        />
      </fieldset>
      <fieldset class="form-group filed-space">
        <input
          type="password"
          class="form-control"
          name="password"
          placeholder="Enter password"
          required
          ngModel
        />
      </fieldset>

      <fieldset class="form-group text-center">
        <input
          type="submit"
          class="btn btn-success filed-space"
          value="register"
        />

        <a href="/">
          <input type="button" class="btn btn-warning" value="Cancel" />
        </a>
      </fieldset>
    </form>
  </div>
</div>
