

<header>
  <nav class="py-2 bg-light border-bottom">

      <div class="container d-flex flex-wrap">
        <ul class="nav me-auto">
          <a class="navbar-brand" href="/">
          <img src="{{imageSrc}}" alt="{{imageAlt}}" style="width: 50px" />
          </a>
          <li class="nav-item"><a href="/about" class="nav-link link-dark px-2 active" aria-current="page">About</a></li>
          <li class="nav-item"><a href="/registration" class="nav-link link-dark px-2">Registration</a></li>
          <li class="nav-item"><a href="#" class="nav-link link-dark px-2">Donation</a></li>
          
        </ul>
        <ul class="nav">
          <li class="nav-item"><a href="/login" class="nav-link link-dark px-2">Login</a></li>
          <li class="nav-item"><a href="/signup" class="nav-link link-dark px-2">Sign up</a></li>
        </ul>
      </div>
    </nav>
  <header>